<html>

<head>
	<title>{{.title}}</title>
	
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	
	<script type="text/javascript" src="/js/main.js"></script>
	
</head>

<body>
	{{define "document"}}
	
		{{template "header" .}}
		
		{{template "content" .}}
		
		{{template "footer" .}}
		
	{{end}}
	
	{{template "document" .}}
</body>

</html>
