[[define "header"]]
<div class="navbar navbar-inverse navbar-fixed-top">

  <div class="navbar-inner">

    <div class="container">

      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>

      <a class="brand" href="/">Web wallet</a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li> [[if .user]]
          <li><a href="/main">Main</a></li> [[end]]
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->

      <div class="nav-collapse collapse pull-right">
        <ul class="nav">
          <li>[[if not .user]] <a href="[[.url]]">Login</a> [[else]] <a href="[[.url]]">Logout</a>
            [[end]]
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>
[[end]]

