<!DOCTYPE html>

<html ng-app>

<head>
<title>[[.title]]</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet" type="text/css">

</head>

<body>

  [[define "document"]] [[template "header" .]]

  <div class="container">[[template "content" .]] [[template "footer" .]]</div>

  [[end]] [[template "document" .]]

  <!-- JS LIBS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!-- MAIN JS -->
  <script type="text/javascript" src="/js/main.js"></script>

</body>

</html>
